@font-face{
    src:url('../public/fonts/TTNorms-Regular.otf');
    font-family: "TTNorm-Regular";
}
@font-face{
    src:url('../public/fonts/TTNorms-Bold.otf');
    font-family: "TTNorm-Bold";
}
.font-heading{
    font-family: "TTNorm-Bold";
}
.font-subHeading{
    font-family: "TTNorm-Bold";
}
.font-text{
    font-family: "TTNorm-Regular";
}